            p {
                row-gap: 0;
                column-gap: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            button {
                all: unset;
                display: inline-block;
            }
            .background-cta {
                width: 100%;
                height: 800px;
                background-image: url(assets/bars.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

            }

            .cta-header {
                color: white;
                padding-top: 150px;
                font-size: 30px;
                width: 40%;
                height: 300px;
                display: inline-block;
                margin-left: 60px;
        
                
                
            }

            .background-cta2 {
                width: 100%;
                height: 700px;
                background-image: url(assets/nuts.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

            }

            .cta-section {
                color: white;
                width: 40%;
                font-size: 20px;
                margin-left: 60px;


            }

            .cta-buttons {
                display: flex;
                gap: 15px;
                margin-left: 60px;
            }
            
            .background-1 {
                background-color: rgb(249,222,220);
                width: 100%;
                height: 700px;
            }

            .background-2 {
                background-color: rgb(207, 247, 211);
                width: 100%;
                height: 700px;
            }

            .join1-button {
                background-color: #c89d5b;
                color: black;
                font-size: 16px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                display: inline-block;
                border: 1px solid white;
                transition: 0.15s;
                margin-top: 20px;
               
            }

            .join1-button:hover {
                background-color: #987456;
            }

            .join1-button:active {
                opacity: 0.8;
            }

            .learnmore-button{
                background-color: transparent;
                color: white;
                font-size: 16px;
                border: 1px solid white;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                transition: 0.15s;
                margin-left: 10px;
                margin-top: 20px;
                display: inline-block;

            }

            .learnmore-button:hover {
                background-color: black;
                color: white;
            }

            .learnmore-button:active {
                background-color: gray;
            }

            .join3-button {
                background-color: #c89d5b;
                color: white;
                font-size: 16px;
                padding-left: 25px;
                padding-right: 25px;
                padding-top:15px;
                padding-bottom: 15px;
                cursor: pointer;
                display: inline-block;
                transition: 0.15s;
                margin-top: 20px;
            }

            .join3-button:hover {
                background-color: #987456;
            }

            .join3-button:active {
                opacity: 0.8;
            }

            .learnmore-button3 {
                background-color: transparent;
                color: black;
                font-size: 16px;
                border: 1px solid black;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                transition: 0.15s;
                margin-left: 10px;
                margin-top: 20px;
                display: inline-block;

            }

            .learnmore-button3:hover {
                background-color: black;
                color: white;
            }

            .learnmore-button3:active {
                background-color: gray;
            }



            .about-us{
                padding: 40px;
                display: flex;
                align-items: left;
                justify-content: center;
                

            }
            
            .about-content {
               flex: 1;
               max-width: 600px;
                margin-top: 150px;

            }     


            .about-content h2 {
                font-size: 50px;
                margin-bottom: 15px;
                
            }

            .about-content p {
                font-size: 20px;
                line-height: 1.8;
                margin-top: 20px;
                margin-bottom: 10px;

            }
            
            .about-picture {
                flex: 1;
                display: flex;
                justify-content: centre;
            }

            .about-picture img {
                max-width:100%;
                height: auto;


            }

            .about-buttons {
                display: flex;
                gap: 15px;
                margin-bottom: 25px;
            }

            .join2-button {
                background-color: #9b7653 ;
                color: black;
                font-size: 16px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                transition: 0.8s;
                margin-top: 20px;
            }

            .join2-button:hover {
                background-color: #856d4d;
                
            }

            .join2-button:active {
                opacity: 0.8;
            }

            .learnmore-button2 {
                background-color: #c19a6b;
                color: black;
                font-size: 16px;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                transition: 0.15s;
                margin-top: 20px;
                display: inline-block;

            }

            .learnmore-button2:hover {
                background-color: black;
                color: white;
            }

            .learnmore-button2:active {
                background-color: gray;
            }


            .faq-container {
                max-width: 800px;
                margin: 50px auto;
                padding: 20px;
                background-color: white;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
            }

            .faq-item {
                margin-bottom: 10px;
            }
            
            .faq-header h2 {
                font-size: 60px;
                margin-left: 550px;
               
            }

            .faq-header p {
                font-size: 20px;
                margin-left: 350px;
                margin-bottom: 50px;

            }

            .faq-question {
                width: 100%;
                background-color: #444;
                color: white;
                font-size: 18px;
                border: none;
                padding: 10px;
                text-align: left;
                cursor: pointer;
            }

            .faq-answer {
                display: none;
                padding: 10px;
                background-color: #ddd;
                margin-top: 5px;
            }

            .faq-footer h2{
                font-size: 30px;
                margin-top: 50px;
                margin-left: 500px;
            }

            .faq-footer p {
                font-size: 20px;
                margin-left: 530px;
                
            }

            .contact-button {
                background-color: white;
                color: black;
                font-size: 16px;
                border: none;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                border: 1px solid black;
                margin-left: 575px;
                margin-top: 50px;
            } 
        
            .contact-button:active {
                opacity: 0.8;
            }

            .contact-button:hover {
                background-color: black;
                color: white;          
            }
            


           .product-benefits {
            display: flex;
            align-items: left;
            justify-content: center;
            padding: 40px;
           }

           .benefits-content {
            flex: 1;
            max-width: 600px;
            padding: 20px;
           }

           .headingbenefits-content {
            margin-bottom: 15px;
           }

           .headingbenefits-content h2 {
            font-size: 40px;
            font-weight: bold;
           }
           .headingbenefits-content h3{
            font-size: 20px;
            font-weight: normal;
           }

           .mainbenefits-content {
            font-size: 16px;
            margin-bottom:10px;
            line-height: 1.8;
           }

           .benefits-image {
            flex: 1;
            display: flex;
            justify-content: center;
           }

           .benefits-image img {
                max-width: 100%;
                height: auto;
            }

            .ingredient-transparency {
                display: flex;
                align-items: left;
                justify-content: center;
                padding: 40px;  
            }

            .ingredient-section {

                flex: 1;
                max-width: 600px;
                padding: 20px;
                
            }

            .ingredient-header {
                
                margin-bottom: 15px;
                font-size: 40px;
                font-weight: bold;
               
            }

            .ingredient-text {
                font-size: 16px;
                margin-bottom:10px;
                line-height: 1.8;            
             
            }

            
            .footer-section2 {
                background-color: white;
                padding: 20px;
                text-align: center;
            }

            .column {
                display: inline-block;
                vertical-align: top;
                margin: 0 20px;
            }

            .column h3 {
                margin-bottom: 10px;
            }

            .column ul {
                list-style-type: none;
                padding: 0;
            }
            
            .column ul li{
                margin: 5px 0;
            }

            .column ul li a {
                text-decoration: none
            }

            .column ul li a:hover {
                text-decoration: underline;
            }